@use'globales';
@use'variables';

/*  NOSOTROS DESKTOP */

.accordion{
    margin: 100px 0px;
    width: 440px;  
}
.accordion-item{
    background:none;
    border: 0px;
}
.acordionColor{
    background-color: rgb(238, 238, 51);
    font-size: 20px;
}

.fondoAcordion{
    background-color: rgb(37, 86, 222);
    font-size: 24px;
    color: beige;
}
.fondoAcordion svg{
        width: 60px;
        height: 60px;
        color: brown;
        padding-right: 10px;
        .bi-people{
            font-size: 24;
    }
}
.carrusel{
    margin: 50px;
}


/*  TABLET  */

@media screen and (max-width:992px){

    /* NOSOTROS -- TABLET */

.accordion{
    margin: 20px 90px;
    width: 80%;   
}
.acordionColor{
    background-color: rgb(238, 238, 51);
    font-size: 20px;
}
.fondoAcordion{
    font-size: 25px;
    color: beige;
   
}
.fondoAcordion svg{
    width: 40px;
    height: 40px;
    color: brown;
    padding-right: 10px;
}
.carrusel{
    margin: 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

/* FOOTER -- TABLET */

.footer{
    height: 90px;
    .texto p{
        font-size: 17px;
        padding-top: 15px;
    }
}
.imgRedes{
    width: 30px;
    border: 10px;
}
.imgRedes1{
    width: 40px;
    border: 10px;
}
}

/* MOBILE */

@media screen and (max-width:667px){

/* NOSOTROS--MOBILE */

 .accordion{
        margin: 20px 40px;
        width: 80%;   
 }
 .acordionColor{
    background-color: rgb(238, 238, 51);
    font-size: 15px;
}
.carrusel{
        margin: 0px;
}
    
.fondoAcordion{
        font-size: 15px;
        color: beige;
 }
 .fondoAcordion svg{
        width: 30px;
        height: 30px;
        color: brown;
        padding-right: 10px;
 }
.row{
    margin-left: 0px;
    margin-right: 0px;
}
}

