@use'globales';
@use'variables';
@use'efectos';

html{
    overflow-x: hidden;
}

.cajaTitulo .btn {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 15px;
    width: 98%;
    color: variables.$color-h2;
    background: rgba(19,92,160,1);
    background: -moz-linear-gradient(-45deg, rgba(19,92,160,1) 0%, rgba(17,81,148,0.41) 54%, rgba(16,72,137,0.41) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(19,92,160,1)), color-stop(54%, rgba(17,81,148,0.41)), color-stop(100%, rgba(16,72,137,0.41)));
    background: -webkit-linear-gradient(-45deg, rgba(19,92,160,1) 0%, rgba(17,81,148,0.41) 54%, rgba(16,72,137,0.41) 100%);
    background: -o-linear-gradient(-45deg, rgba(19,92,160,1) 0%, rgba(17,81,148,0.41) 54%, rgba(16,72,137,0.41) 100%);
    background: -ms-linear-gradient(-45deg, rgba(19,92,160,1) 0%, rgba(17,81,148,0.41) 54%, rgba(16,72,137,0.41) 100%);
    background: linear-gradient(135deg, rgba(19,92,160,1) 0%, rgba(17,81,148,0.41) 54%, rgba(16,72,137,0.41) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135ca0', endColorstr='#104889', GradientType=1 );
    
    &:hover {background-color: red };color: white;
.fa-magnifying-glass-plus{
    font-size: 30px;
    margin-left: 5px;
    &:hover {color: blue};
}
}
.modal-body{
    font-size: 15px;
}
.modal-title{
    font-size: 20px; 
}
.footer{
    margin-top: 20px;
}
.row{
    margin-left: 70px;
    margin-right: 0px;
}
/*  TABLET  */

@media screen and (max-width:992px){

.card {
    
    margin-left: 40px;
}
.modal-body{
    font-size: 24px;
}
.modal-title{
    font-size: 30px; 
}
.cajaTitulo .btn {
    width: 95%;
}
.carrusel{
    margin-top: 20px;
}
.row{
    margin-left: 15px;
    margin-right: 0px;
}
}

/* MOBILE */

@media screen and (max-width:667px){

.card {
    
    margin-left: 20px;
}
.modal-body{
    font-size: 12px;
}
.modal-title{
    font-size: 17px; 
}

.cajaTitulo .btn {
    width: 87%;
}
.modal-body{
    font-size: 15px;
}
.modal-title{
    font-size: 20px; 
}
.carrusel{
    margin-top: 11px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
}


