@use'./globales';
@use'./variables';

.thumbnail{
    -webkit-animation:slit-in-vertical .45s ease-out both;
        animation:slit-in-vertical .45s ease-out both;
    margin: 50px 0px;
}

@for $item from 1 through 3{
    .thumbnail#{$item}{
        animation-delay: $item*.5s;
    }
}
.marco1{
    padding-right: 50px;
}
.marco2{
    padding: 0px 32px;
}
.marco3{
    padding-left: 50px;
}

.textoServicios{
    width: 355px;
    height: 1120px;
    padding: 0px 30px 30px 30px;
    .disenoServicio{
        font-size: 20px;
        padding-top: 30px;
        color: variables.$color-h2;
        margin-bottom: 15px;
    }
}
@each $var in blue, magenta, black {
    .tarjeta#{$var}{
        background-color: $var;
    }
}


.textoServicios p{
    font-size: 16px;
    color: white;
    margin-top: 0px;
    text-align: justify;
}


/* TABLET */

@media screen and (max-width:992px){


.marco1{
    padding-right: 0px;
    }
    .marco2{
    padding: 0px 0px;
    }
    .marco3{
    padding-left: 0px;
    }
    img{
        width: 90%;
    }
    .textoServicios{
        width: 90%;
        height: 1925px;
    }
    .textoServicios p{
        font-size: 14px;
    }
    .disenoServicio{
        font-size: 15px;
    }
    
}

/* MOBILE */

@media screen and (max-width:667px){

 .marco1{
    padding-right: 0px;
    }
    .marco2{
    padding: 0px 0px;
    }
    .marco3{
    padding-left: 0px;
    }
    img{
        width: 100%;
    }
    .textoServicios{
        width: 100%;
        height: 100%;
    }
    .textoServicios p{
        font-size: 15px;
    }
    
/* FOOTER */

.footer{
    height: 80px;
    .texto p{
        font-size: 9px;
        padding-top: 15px;
    }
    .fa-facebook, .fa-instagram, .fa-whatsapp{
        font-size: 15px;
        margin: 2px;
    }
    }
.redes{
    flex-direction: column;
}
}

 @-webkit-keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}@keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);
    transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}