*{margin: 0;
    padding: 0;}

body{
    font-family: 'Roboto Mono', monospace;
}

main, section{
    background-image: url(../imagenes/fondo\ web.jpg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    height: 100%;
    margin-bottom: 0px;
}


/*  HEADER  */

nav{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(13,14,192,1) 11%, rgba(0,0,0,1) 63%);
}
.navbar-brand{
    /*width: 300px;*/
    margin-left: 25px;
    padding: 40px;
}

.navbar-toggler{
    background-color:white;
    color: white;
}


.navbar-toggler-icon{
    background-color:white;
    /*color: white;*/
}

.nav-link{
    color: beige;
}
.bs-nav-link-hover-color{
    color: blueviolet;
}


/* DESKTOP */

/* FOOTER DESKTOP*/

.footer{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(13,14,192,1) 11%, rgba(0,0,0,1) 63%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}
.texto p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 20px;
}
.texto span{
    text-align: left;
}
.texto span a{
    color: white;
    text-decoration: none;
}
.redes{
    display: flex;
    align-items: center;
}
.imgRedes{
    width: 40px;
    border: 10px;
}
.imgRedes1{
    width: 60px;
    border: 10px;
}

/* MAIN  INDEX DESKTOP*/

.contenedorbienVenidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.mainTexto{
    font-size: 18px;
}
.cajaTexto{
    width: 500px;
    text-align: justify;
    margin-top: 20px;
}

/* CONTACTO DESKTOP*/

.formContacto{
    width: 550px;
    background: rgba(89, 75, 175, 0.6);
    padding-bottom: 45px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px
}
legend{
    text-align: left;
    margin: auto;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
textarea{
    min-height: 100px;
    max-height: 300px;
}

.datosContacto{
    margin-left: 60px;
    margin-top: 100px;
    width: 500px;
    height: 100%;
    border: 3px solid rgb(41, 16, 164);
    border-radius: 8px;
    padding-left: 40px;
    padding-top: 10px;
}

h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

h3 a{
    font-size: 15px;
    text-align: left;
    color: rgb(61, 26, 186);
    padding-bottom: 20px;
}




/*  TABLET  */

@media screen and (max-width:992px){

    /* NAVBAR */

    .navbar-brand{
        /*width: 200px;*/
        margin-left: 15px;
        padding: 15px;
    }
    .nav-link{
        font-size: 12px;
    }

     /* MAIN  INDEX */

    .cajaTexto{
        width: 500px;
        text-align: justify;
        margin-top: 12px;
    }
     .mainTexto{
        font-size: 18px;
    }
    .bienVenidos{
        font-size: 35px;
    }
    .contenedorbienVenidos{
        margin-top: 5px;
    }

    /* CONTACTO -- TABLET*/

.formContacto{
    margin-left: 65px;
    margin-bottom: 5px;
}
.datosContacto{
   display: none;
}


/* FOOTER -- TABLET */

.footer{
    height: 60px;
}
.texto p{
    font-size: 12px;
    padding-top: 15px;
}
.imgRedes{
    width: 30px;
    border: 10px;
}

  
}

/* MOBILE */

@media screen and (max-width:667px){

  /* NAVBAR -- MOBILE */  

    .navbar-brand{
        width: 160px;
        margin-left: 5px;
        padding: 0%;
    }
    .nav-link{
        font-size: 10px;
    }

    /* MAIN  INDEX -- MOBILE */

    .cajaTexto{
        width: 300px;
        text-align: justify;
        margin-top: 2px;
    }
    .mainTexto{
        font-size: 9px;
    }
    .bienVenidos{
        font-size: 19px;
        font-weight: bold;
    }
    .contenedorbienVenidos{
        margin-top: 5px;
    }
   
     /* CONTACTO -- MOBILE */

     .formContacto{
        width: 340px;
        padding-bottom: 25px;
        margin-left: 18px;
    }
    legend{
        margin-bottom: 7px;
        font-size: 15px;
    }
    input, textarea{
        margin-bottom: 10px;
        padding: 4px;
        border-radius: 5px;
        font-size: 8px;
    }
    textarea{
        min-height: 50px;
        max-height: 150px;
    }
    .datosContacto{
        display: none;
    }

    /* FOOTER  */


    .footer{
        height: 40px;
    }
    .texto p{
        font-size: 9px;
        padding-top: 10px;
    }
    .imgRedes{
        width: 20px;
        border: 5px;
    }
    .imgRedes1{
        width: 25px;
        border: 5px;
    }
}

